@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Serif:ital,wght@0,400;0,700;1,700&family=Rubik:wght@300;400;500;600&family=Signika:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}